<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} | USU FSLC Streams</title>
    <style>
      {% include "style.css" %}
    </style>
    {% block scripts %}{% endblock %}
  </head>
  <body>
    <h1>{{ self.title() }}</h1>

    <nav>
      <a href="/">Home</a>
      <a href="{{ url_for('watch_stream') }}">Watch Stream</a>
      <a href="{{ url_for('new_stream') }}">Start Stream</a>
    </nav>

    {% block content %}{% endblock %}
  </body>
</html>

